
  .about-profile-pic {
    margin: 0 1em 1em 0;
    height: 490px;
    width: 55%;
    left: 50px;
    position: relative;
  }

.show-grid{
  position: relative;
  bottom: -30px;
}
  .show-grid p {
  font-weight: 100;
 letter-spacing: 0.25689px;
 text-transform: none;
 font-family: 'Gotham SSm',sans-serif;
 font-size: 19px;
 line-height: 1.8em;
 color: #767676;
 text-align: left;
 margin-top: 20px;
 margin-bottom: 20px;
 display: block;
  }

  h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkslategrey;
  }

  .sub-title{
  font-family: 'Gotham SSm',sans-serif;
  font-size: 9px;
  line-height: 1.11111111em;
  letter-spacing: .43333333em;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0,0,0,.5);
  margin-top: 50px;
  text-align: left;
  }

.title{
  font-family: 'Gotham SSm',sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 650;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.575em;
  letter-spacing: .28569em;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #222;
  text-align: left;
}

.firstimg{
  position: relative;
  top: -400px;
  width: 450px;
  height: 300px;
  left: 180px;
}

.move{
  position: relative;
  left: 200px;
}

.vid{
  margin-top: 0px;
  position: relative;
  top: -20px;
}

.show-grid2 p{
  font-weight: 100;
 letter-spacing: 0.25689px;
 text-transform: none;
 font-family: 'Gotham SSm',sans-serif;
 font-size: 19px;
 line-height: 1.8em;
 color: #767676;
 text-align: left;
 margin-top: 20px;
 margin-bottom: 20px;
 display: block;
}

.show-grid2{
  position: relative;
  left: 30px;
  margin-left: 50px;
}

.dairyone{
  position: relative;
  left: 200px;
  height: 300px;
  width: 200px;
}

.dairyshort{
  position: relative;
  height: 500px;
  width: 300px;
  left: 200px;
}

.three{
  position: relative;
  height: 500px;
  width: 600px;
  right: 110px;
}


.threecol{
  margin-top: 160px;
}

.threeone{
  position: relative;
  height: 310px;
  width: 390px;
  left: 250px;
  top: -410px;
}

.movethree{
  position: relative;
  left: 180px;
  bottom: -60px;
}

.movethree p{
  font-weight: 100;
 letter-spacing: 0.25689px;
 text-transform: none;
 font-family: 'Gotham SSm',sans-serif;
 font-size: 19px;
 line-height: 1.8em;
 color: #767676;
 text-align: left;
 margin-top: 20px;
 margin-bottom: 20px;
 display: block;
}

.four p{
  font-weight: 100;
 letter-spacing: 0.25689px;
 text-transform: none;
 font-family: 'Gotham SSm',sans-serif;
 font-size: 18px;
 line-height: 1.8em;
 color: #767676;
 text-align: left;
 margin-top: 20px;
 margin-bottom: 20px;
 display: block;
}

.fourimg{
  position: relative;
  height: 370px;
  width: 500px;
  left: 240px;
  bottom: -25px;
}

.movefour{
  position: relative;
  left: 80px;
}

.four{
  margin-bottom: 50px;
  position: relative;
  top: -35px;
}

.button{
  cursor: pointer;
 display: inline-block;
 font-family: 'Gotham SSm',sans-serif;
 font-size: 10px;
 font-weight: 600;
 letter-spacing: .291em;
 line-height: 0.6em;
 border-style: solid;
 border-width: 1.1px;
 border-radius: 0;
padding-top: 2.0em;
padding-bottom: 3.0em;
padding-left: 2.2em;
padding-right: 3.2em;
 text-align: center;
  text-rendering: optimizeLegibility;
 text-transform: uppercase;
 -webkit-font-smoothing: antialiased;
 -webkit-appearance: none;
 -moz-appearance: none;
 -webkit-transition: opacity 300ms cubic-bezier(.694,0,.335,1),background-color 300ms cubic-bezier(.694,0,.335,1),color 300ms cubic-bezier(.694,0,.335,1);
 -o-transition: opacity 300ms cubic-bezier(.694,0,.335,1),background-color 300ms cubic-bezier(.694,0,.335,1),color 300ms cubic-bezier(.694,0,.335,1);
 transition: opacity 300ms cubic-bezier(.694,0,.335,1),background-color 300ms cubic-bezier(.694,0,.335,1),color 300ms cubic-bezier(.694,0,.335,1);
 color:#000;
 background-color : white;
 border-color: #000;
}

.show-grid2 .button{
  cursor: pointer;
 display: inline-block;
 font-family: 'Gotham SSm',sans-serif;
 font-size: 10px;
 font-weight: 600;
 letter-spacing: .291em;
 line-height: 0.6em;
 border-style: solid;
 border-width: 1.1px;
 border-radius: 0;
padding-top: 2.0em;
padding-bottom: 3.0em;
padding-left: 2.0em;
padding-right: 2.2em;
 text-align: center;
  text-rendering: optimizeLegibility;
 text-transform: uppercase;
 -webkit-font-smoothing: antialiased;
 -webkit-appearance: none;
 -moz-appearance: none;
 -webkit-transition: opacity 300ms cubic-bezier(.694,0,.335,1),background-color 300ms cubic-bezier(.694,0,.335,1),color 300ms cubic-bezier(.694,0,.335,1);
 -o-transition: opacity 300ms cubic-bezier(.694,0,.335,1),background-color 300ms cubic-bezier(.694,0,.335,1),color 300ms cubic-bezier(.694,0,.335,1);
 transition: opacity 300ms cubic-bezier(.694,0,.335,1),background-color 300ms cubic-bezier(.694,0,.335,1),color 300ms cubic-bezier(.694,0,.335,1);
 color:#000;
 background-color : white;
 border-color: #000;
}

.show-grid2 .link{

position: relative;
top: -50px;
left: 150px;



  color: #000;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgba(0,0,0,.3);
  font-family: 'Gotham SSm',sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 30px;
  letter-spacing: .091em;
  line-height: 1em;
  border-style: solid;
  border-width: 1.1px;
  border-radius: 0;
  padding: 0.8em 3.2em;
  margin-top: 10px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  transition: opacity 300ms cubic-bezier(.694,0,.335,1),background-color 300ms cubic-bezier(.694,0,.335,1),color 300ms cubic-bezier(.694,0,.335,1);
}

.four .link{

position: relative;
top: -45px;
left: 200px;



  color: #000;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgba(0,0,0,.3);
  font-family: 'Gotham SSm',sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 30px;
  letter-spacing: .091em;
  line-height: 1em;
  border-style: solid;
  border-width: 1.1px;
  border-radius: 0;
  padding: 0.8em 3.2em;
  margin-top: 10px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  transition: opacity 300ms cubic-bezier(.694,0,.335,1),background-color 300ms cubic-bezier(.694,0,.335,1),color 300ms cubic-bezier(.694,0,.335,1);
}

.link{
  color: #000;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgba(0,0,0,.3);
  font-family: 'Gotham SSm',sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-left: 30px;
  letter-spacing: .091em;
  line-height: 1em;
  border-style: solid;
  border-width: 1.1px;
  border-radius: 0;
  padding: 0.8em 3.2em;
  margin-top: 10px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  transition: opacity 300ms cubic-bezier(.694,0,.335,1),background-color 300ms cubic-bezier(.694,0,.335,1),color 300ms cubic-bezier(.694,0,.335,1);
}
